DATABASE_URL="mongodb://localhost:27017/prenit-inspection"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
AUTH_SECRET="change-this-secret"
ADMIN_EMAIL="admin@prenit.com"
ADMIN_PASSWORD="admin123"
CLOUDINARY_URL="cloudinary://API_KEY:API_SECRET@CLOUD_NAME"
